@keyframes blink {
  from {
    opacity 0
  }
  to {
    opacity 1
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes neon-text {
  from {
    text-shadow: 0 0 2.5px $black, 0 0 5px $black, 0 0 7.5px $black, 0 0 10px $waterloo, 0 0 12.5px $waterloo, 0 0 15px $waterloo, 0 0 25px $waterloo;
  }

  to {
    text-shadow: 0 0 1px $black, 0 0 2px $black, 0 0 3px $black, 0 0 4px $waterloo, 0 0 5px $waterloo, 0 0 6px $waterloo, 0 0 10px $waterloo;
  }
}

@keyframes neon-box {
  from {
    box-shadow: 0 0 15px $black, 0 0 17.5px $black, 0 0 10px $waterloo, 0 0 52.5px $waterloo, 0 0 55px $limeade, 0 0 70px $limeade, 0 0 90px $limeade;
  }

  to {
    box-shadow: 0 0 1px $black, 0 0 2px $black, 0 0 3px $black, 0 0 6px $black, 0 0 8px $waterloo, 0 0 12px $waterloo, 0 0 20px $limeade, 0 0 30px $limeade, 0 0 55px $limeade, 0 0 70px $limeade;
  }
}

@keyframes timeline-border-green {
  from {
    box-shadow: 0 0 0 2px alpha($waterloo, 0.5)
  }

  to {
    box-shadow: 0 0 0 5px alpha($waterloo, 0.5)
  }
}

@keyframes timeline-border-white {
  from {
    box-shadow: 0 0 0 2px alpha($black, 0.5)
  }

  to {
    box-shadow: 0 0 0 5px alpha($black, 0.5)
  }
}

@keyframes border-rajah {
  from {
    box-shadow: 8px 8px 20px $botticelli, -12px -12px 20px $white;
  }

  to {
    box-shadow: 8px 8px 20px $rajah, -12px -12px 20px $white;
  }
}

@keyframes timeline-border-full {
  from {
    box-shadow: 0 0 0 10px alpha($waterloo, 0.7)
  }

  to {
    box-shadow: 0 0 0 20px alpha($waterloo, 0.7)
  }
}

@keyframes svg-transform {
  from,{
    fill: $waterloo;
    stroke-width: 1px;
    stroke: $waterloo;
  }

  to{
    fill: transparent;
    stroke: $waterloo;
    stroke-width: 5px;
  }
}