@import "./colors.styl";
@import './theme.styl';

:root
  --radius: 2px
  --transition-duration 300ms
  --font-header 'Roboto Mono'
  --font-list -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, "Courier New", Cantarell, "Helvetica Neue", sans-serif

// Ubuntu font-family
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// Roboto Mono font-family
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@font-face
  font-family "Aldo the Apache"
  font-style normal
  font-display swap
  font-weight 800
  src url('../assets/fonts/Aldo the Apache.woff2') format('woff2'),
  url("//db.onlinewebfonts.com/t/9c3f8e8826b7813fad3ff5bf79f2004e.eot"), /* IE9*/
  url("//db.onlinewebfonts.com/t/9c3f8e8826b7813fad3ff5bf79f2004e.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/9c3f8e8826b7813fad3ff5bf79f2004e.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("//db.onlinewebfonts.com/t/9c3f8e8826b7813fad3ff5bf79f2004e.svg#Aldo the Apache") format("svg") /* iOS 4.1- */

@font-face
  font-family: "Courier New"
  font-style normal
  font-display swap
  font-weight 400
  src:  url('../assets/fonts/Courier New.woff2') format('woff2'),
  url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.eot"),
  url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.svg#Courier New") format("svg")

*
  margin 0
  padding 0

*,
*:after,
*:before
  box-sizing border-box

body
  color $white
  position relative
  font-family var(--font-list)
  -webkit-font-smoothing antialiased

a
  color rgb(0,100,200)
  text-decoration none
  &:hover
    text-decoration underline
  &:visited
    color rgb(0,80,160)
