$black = #000000
$deep-fir = #1B3300
$verdun-green = #396E00
$limeade = #57A300
$chartreuse = #86FF00
$dodger-blue = #19A5FF
$outer-space = #263238
$mine-shaft = #000
$cod-gray = #111111
$white = #FFFFFF
$transparent = #00000000
$mystic = #ecf0f3
$botticelli = #d1d9e6
$crown-of-thorns = #6F2232
$waterloo = rgb(7,249,254)
$abbey = #292929
$midnight-green = #004953
$orange = #FFA500
$darkorange = #FF8C00
$marauder-brown = #654321
