$black = #000000
$deep-fir = #1B3300
$verdun-green = #396E00
$limeade = #57A300
$chartreuse = #86FF00
$dodger-blue = #19A5FF
$outer-space = #263238
$mine-shaft = #222222
$cod-gray = #111111
$white = #FFFFFF
$transparent = #00000000


// New colours

$lonestar = #740001
$tulip-tree = #eeba30
$bright-red = #ae0001
$hokey-pokey = #d3a625

// Another new colour scheme

$botticelli = #d1d9e6
$mystic = #ecf0f3
$periwinkle-gray = #C5CCE6
$waterloo = #7C8299
$hit-gray = #9DA9B3
$tuna = #32343D