@require './colors';
@require './theme';

body {
  --background-color: $mystic;
  --background-color-invert: $mine-shaft;
  --text-color: $black;
  --box-shadow: 18px 18px 20px $botticelli, -12px -12px 20px $white;
  --inset-box-shadow: inset 8px 8px 20px $botticelli,inset -12px -12px 20px $white;
  --heading-color: $mine-shaft;
  --appbar-shadow-color: $orange;
  --text-color-inverted: $white;
  --icon-shadow: 12px 12px 15px $botticelli, -8px -8px 12px $white;
  --dark-shadow-color: $botticelli;
  --small-icon-shadow: 8px 8px 10px $botticelli, -6px -6px 10px $white;
  --inset-small-icon-shadow: inset 8px 8px 10px $botticelli, inset -6px -6px 10px $white;
  --hero-text-color: $marauder-brown;
  --hero-text-animation: blink 6s ease-in, neon-text 1.5s ease-in-out infinite alternate;
}

[data-theme="dark"] {
  --background-color: $mine-shaft;
  --background-color-invert: $mystic;
  --text-color: $white;
  --box-shadow: 18px 18px 20px $black, -12px -12px 20px $abbey;
  --inset-box-shadow: inset 8px 8px 20px $black,inset -12px -12px 20px $abbey;
  --heading-color: $mystic;
  --appbar-shadow-color: $white;
  --text-color-inverted: $black;
  --icon-shadow: 12px 12px 15px $black, -8px -8px 12px $abbey;
  --dark-shadow-color: $black;
  --small-icon-shadow: 8px 8px 10px $black, -6px -6px 10px $abbey;
  --inset-small-icon-shadow: inset 8px 8px 10px $black, inset -6px -6px 10px $abbey;
  --hero-text-color: $white;
  --hero-text-animation: blink 6s ease-in, neon-text-white 1.5s ease-in-out infinite alternate;
}
